@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
}
h1{
	font-size: 100px;
	color: white;
	text-shadow: 4px 4px 20px black;
	font-family: papyrus,fantasy;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 70px;
}
h4{
	font-size: 35px;
	margin-top: 10px;
}
h5{
	font-size: 60px;
}
h2, h3, h4, h5{
	font-family: papyrus,fantasy;
	color: black;
	text-shadow: 1px 1px 1px black;
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-size: 20px;
	line-height: 40px;
}
li{
	line-height: 35px;
	font-size: 20px;
	margin-left: 40px;
}

.mainContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10vh;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10vw;
	padding: 15px;
	font-size: 28px;
	text-shadow: 1px 1px 1px black;
	font-family: 'papyrus', fantasy;
}
.icons{
	display: none;
}
.top{
	display: flex;
  height: 90vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}


#homepage{
	background-color: #fff9e3;
}
#homepage .menu{
	background-color: wheat;
}
#homepage .top{
  background-image: url('airHead.jpg');
}
#homepage .top img{
	width: 80vw;
}
#homepage .menu a:hover{
	color: darkgoldenrod;
}
.overview{
	display: flex;
	flex-direction: row;
	padding: 30px;
	align-items: flex-start;
	gap: 5vw;
	background-color: #fffaee;
}
.characters{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: center;
	border-width: 2px;
	flex-flow: wrap;
	gap: 10vw;
	margin: 10vh;
	margin-top: 0px;
}
.con1{
	display: flex;
	flex-direction: column;
	gap: 5vh;
	align-items: center;
	background-color: #fff1ca;
	padding-top: 10vh;
}
.cc{
	width: 25%;
	display: flex;
	flex-direction: column;
}
.ccDesc{
		display: flex;
		flex-direction: column;
	}
.cc img{
	aspect-ratio: 3/4;
	object-fit: cover;
}

.books{
	display: flex;
	flex-direction: column;
	margin: 15vh;
	gap: 15vh;
	align-items: center;
}
.map{
	width: 100vw;
}
.overlay{
	width: 80vw;
	height: 70vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.bookContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	padding: 30px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	transition: 0.6s;
	background-size: cover;

}
.bookContainer:hover{
	opacity: 1;
}
.b1{
	display: flex;
	flex-direction: row;
	gap: 2vw;
	padding: 2vw;
	padding-top: 0px;
	background-size: cover;
}
.b1 img{
	height: 50vh;
	aspect-ratio: 3/4;
	object-fit: cover;
}

.fade1, .fade2, .fade3, .fade4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.fade1 .overlay{
	background-image: url('waterHead.jpg');
	background-size: cover;
}
.fade1 .bookContainer{
	background-color: lightblue;
}

.fade2 .overlay{
	background-image: url(earthHead.jpg);
}
.fade2 .bookContainer{
	background-color: #bad0ae;
}

.fade3 .overlay{
	background-image: url(fireHead.jpg);
}
.fade3 .bookContainer{
	background-color: #cf6447;
}

.fade4 .overlay{
	background-image: url(continueHead.jpg);
	text-align: center;
	padding: 2vh;
}
.fade4 .overlay h1{
	color: black;
	text-shadow: 4px 4px 20px white;
}
.fade4 .bookContainer{
	background-color: lightgray;
	text-align: left;
}



.imgs{
	display: flex;
	flex-direction: row;
	gap: 10vw;
	justify-content: center;
}
.episodeContainer{
	display: flex;
	flex-direction: column;
	gap: 8vh;
	align-items: center;
	padding-top: 10vh;
}
.episodeContainer img{
	width: 75vw;
	margin-bottom: 10vh;
}
.left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 90vw;
}

.episodes{
	display: flex;
	flex-direction: column;
	padding: 5vh;
	margin-left: 10vw;
	margin-right: 10vw;
}
.button{
	padding: 3vh;
	margin: 5vh;
	font-family: 'papyrus', fantasy;
	font-size: 30px;
	text-shadow: 1px 1px 1px black;

}
.buttonContainer{
	display: flex;
	flex-direction: row;
	gap: 10vw;
}
.button:hover, .homeButton:hover{
	font-size: 35px;
}


#book1{
	background-color: #8ecae6;
}
#book1 .top{
  background-image: url('waterHead.jpg');
}
#book1 .menu{
	background-color: #0077b6;
}
#book1 .menu a{
	color: white;
}
#book1 .menu a:hover{
	color: darkblue;
}

#book1 .description{
	background-color: #d0efff;
	margin: 0px;
	padding: 5vh;
}
.img1{
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
}
.img1 img{
	aspect-ratio: 4/3;
	height: 50vh;
	object-fit: cover;
}
#book1 .episodeContainer{
	background-color: #caf0f8;
}
#book1 .episodes{
	background-color: #9dd9f3;
}
#book1 .button{
	background-color: #0077b6;
		color: white;
}


#book2{
	background-color: #bad0ae;
}
#book2 .top{
  background-image: url('earthHead.jpg');
}
#book2 .button, #book2 .menu{
	background-color: darkolivegreen;
	color: white;
}
#book2 .menu a{
	color: white;
}
#book2 .menu a:hover{
	color: #013220;
}
#book2 .description{
	background-color: #f2fae9;
	margin: 0px;
	padding: 5vh;
}
#book2 .episodeContainer{
	background-color: #ecf1e7;
}
#book2 .episodes{
	background-color: #b3cf99;
}
.img2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img2 img{
	aspect-ratio: 5/3;
	object-fit: cover;
	width: 80vw;
}


#book3{
	background-color: #cf6447;
}
#book3 .top{
  background-image: url('fireHead.jpg');
}
#book3 .button, #book3 .menu{
	background-color: #820001;
	color: white;
}
#book3 .menu a{
	color: white;
}
#book3 .menu a:hover{
	color: #330000;
}
#book3 .description{
	background-color: #fed0b1;
	margin: 0px;
	padding: 5vh;
}
#book3 .episodeContainer{
	background-color: #ffcba9;
}
#book3 .episodes{
	background-color: #efa26e;
}


#continue{
	background-color: #efefef;
}
#continue .mainContainer{
	margin: 10vw;
}
#continue .top{
	background-image: url('continueHead.jpg');
}
#continue .top h1{
	color: black;
	text-shadow: 1px 1px 1px black;
}
#continue .menu, #continue .button{
	background-color: #bfbfbf;
}
#continue .menu a:hover{
	color: white;
}
.korra,.movie,.series{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	padding: 5vh;
	gap: 5vh;
	background-color: white;

}
.b2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-size: cover;
	background-color: #d7d7d7;
	padding: 5vh;
}
iframe{
	aspect-ratio: 4/3;
	object-fit: cover;
}

.homeButton{
	padding: 3vh;
	margin: 5vh;
	font-family: 'papyrus', fantasy;
	font-size: 30px;
	text-shadow: 1px 1px 1px black;
	display: flex;
	justify-content: center;
	width: 30vw;
	background-color: #fff9e3;
	border-width: 5px;
	border-color:wheat ;
	border-style: solid;
}


/*////////////////////////media query/////////////////*/

@media screen and (max-width: 815px){
	p, a, li{
		font-size: 18px;
		line-height: 20px;
	}
	h1{
	font-size: 50px;
	color: white;
	text-shadow: 4px 4px 20px black;
	font-family: papyrus,fantasy;
	text-align: center;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 35px;
	text-align: center;
}
h4{
	font-size: 17px;
	margin-top: 10px;
}
h5{
	font-size: 40px;
	text-align: center;
}
	.top{
		width: 100vw;
		max-height: 100%;
		height: 30vh;
	}
	.menu{
		width: 100vw;
		position:fixed;
		bottom: 0px;
		justify-content: space-around;
		gap: 6vw;
		z-index: 1;
	}
	.menu a {
		font-size: 12px;
		text-align: center;
	}
	.overview{
		flex-direction: column;
		width: 100vw;
		align-items: center;
	}
	.overview img{
		aspect-ratio: 1/1;
		object-fit: contain;
		max-width: 100%;
		width: 100vw;
	}
	.con1{
		width: 100vw;
		padding: 50px;
		padding-bottom: 0px;
	}
	.characters{
		width: 100vw;
		flex-direction: column;
		padding: 30px;
	}
	.cc{
		max-width: 100%;
		width: 100vw;
		flex-direction: row;
		gap: 10px;
	}
	.cc img{
		max-width: 100%;
		width: 25vw;
		max-height: 100%;
		height: 25vh;
	}
	.fade1, .fade2, .fade3, .fade4, .overlay{
		max-height: 100%;
		height: 25vh;
	}
	.overlay h1{
		padding: 10px;
		line-height: 8vh;
	}
	.bookContainer{
		display: none;
	}
	.books{
		gap: 10vh;
		margin-top: 5vh;
	}
	.img1 img{
		aspect-ratio: 4/3;
		max-width: 100%;
		width: 50vw;
		max-height: 100%;
		height: 37.5vw;
	}
	.left{
		justify-content: center;
	}
	.buttonContainer{
		max-width: 100vw;
		justify-content: center;
		justify-content: space-around;
		gap: 0px;
	}
	.button{
		height: 12vh;
		width: 13vh;
		padding: 20px;
		justify-content: center;
		align-items: center;
		align-content: center;
		text-align: center;
		margin-bottom: 15vh;
		font-size: 15px 
	}
	.button:hover{
		font-size: 15px;
	}
		#book1 .button, #continue .button, .homeButton{
		margin-bottom: 15vh;
		font-size: 20px ;
		width: 70vw;
	}
	#book1 .button:hover, .continue .button:hover .homeButton:hover{
		font-size: 20px;
	}
	#continue .button{
		margin-bottom: 5vh;
	}
	.korra,.movie,.series{
		width: 90vw;
	}
	iframe{
		max-width: 100%;
		width: 70vw;
		max-height: 52.5vw;
	}
}










